<div class="room-service-container">
    <form class="form-room-service">
        <alert type="danger" *ngIf="error">
                <strong>Greska! </strong> {{message}}
        </alert>
        <p>
            <mat-form-field>
                <mat-select name="usluga" [(ngModel)]="uses.SERVICE_NAME" placeholder="Usluga">
                    <mat-option value="Dorucak room"> Doručak </mat-option>
                    <mat-option value="Rucak room"> Ručak </mat-option>
                    <mat-option value="Vecera room"> Večera </mat-option>
                    <mat-option value="Pranje vesa"> Pranje veša </mat-option>
                    <mat-option value="Kafa"> Kafa </mat-option>
                    <mat-option value="Maser"> Maser </mat-option>
                    <mat-option value="Sobarica"> Sobarica </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-slide-toggle name="urgent" [(ngModel)]="uses.URGENT">
              Hitno
            </mat-slide-toggle>
        </p> 
        <p>
            <button mat-fab class="order-btn" (click)="onSelect()">Naruči</button>
        </p>
    </form>
  </div>