<div class="review-container">
  <div *ngIf="log">
    <alert type="danger" *ngIf="error">
    <strong> Greska! </strong> {{message}}
    </alert>
      <div *ngIf="responseAddReviewSuccess$ | async; let r">
        <alert type="success" *ngIf="r!='' && success">
                <strong> Bravo! </strong> {{r}}
        </alert>
      </div>
      <div *ngIf="responseAddReview$ | async; let r">
            <alert type="success" *ngIf="r!='' && success">
                    <strong> Greska! </strong> {{r}}
            </alert>
          </div>
      <div *ngIf="!addReview" class="container" (click)="showAddReview()">
          <button mat-icon-button >
              <mat-icon aria-label="add icon">add</mat-icon>
          </button>
          <span class="add-review-label"> Dodajte utisak! </span>
      </div>
      <div *ngIf="addReview">
          <app-add-review (add)="onReviewAdded($event)"></app-add-review>
      </div>
      <div *ngIf="loading$ | async">
        <mat-progress-spinner color="warn" mode="indeterminate"></mat-progress-spinner>
      </div>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let r of reviewList$ | async">
      <p matLine> Komentar: {{r.TEXT}}</p>
      <p matLine> Ocena hotela: {{r.RATING}}</p>
      <mat-divider matLine></mat-divider>
    </mat-list-item>
  </mat-list>
</div> 