<div class="services-container" *ngIf="log">
      <div *ngIf="response$ | async; let r">
        <div *ngIf="r!=''&& success">
            <alert type="success" >
                <strong>Bravo! </strong> {{r}}
            </alert>
        </div>
      </div>
      <div *ngIf="responseServiceFail$ | async; let r">
          <div *ngIf="r!='' && fail">
              <alert type="danger" >
                  <strong>Izvinite! </strong>{{r}} 
              </alert>
          </div>
      </div>
      <div *ngIf="responsePostServiceFail$ | async; let r">
        <div *ngIf="r!='' && fail">
            <alert type="danger" >
                <strong>Izvinite! </strong>{{r}} 
            </alert>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://awscloudfront.kempinski.com/34359356/brunello-breakfast-buffet.jpg;width=1905;height=794;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage" alt="Restoran">
            <div class="card-body">
              <h5 class="card-title">Restoran</h5>
              <button type="button" class="btn-open-modal" (click)="openModal(restoran)">Uplati</button>
              <button mat-fab color="warn" (click)="openModal(restorandetalji)">+</button>
            </div>
          </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://picscache.com/images/369/upload/500X257/1515502758_generalservice17.jpg" alt="Room servis">
                <div class="card-body">
                  <h5 class="card-title">Room servis</h5>
                  <button type="button" class="btn-open-modal" (click)="openModalSmall(roomservice)">Naruči</button>
                  <button mat-fab color="warn" (click)="openModal(roomservicedetalji)">+</button>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://www.buildingfamilies.net/wp-content/uploads/2014/09/bigstock-Curious-Baby-Boy-Studying-Nurs-42451435.jpg" alt="Deciji centar">
                <div class="card-body">
                  <h5 class="card-title">Dečiji centar</h5>
                  <button type="button" class="btn-open-modal" (click)="openModalSmall(vrtic)">Rezerviši</button>
                  <button mat-fab color="warn" (click)="openModal(vrticdetalji)">+</button>
                </div>
              </div>
        </div>
        </div>
      <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://awscloudfront.kempinski.com/1026/kiauh_thai-massage.jpg;width=1024;height=576;mode=crop;anchor=topcenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage" alt="Spa">
                <div class="card-body">
                  <h5 class="card-title">Spa centar</h5>
                  <button type="button" class="btn-open-modal" (click)="openModalSmall(spa)">Rezerviši</button>
                  <button mat-fab color="warn" (click)="openModal(spadetalji)">+</button>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://awscloudfront.kempinski.com/1380/emirates-palace-fitness-centre.jpg;width=1024;height=576;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage" alt="Fitnes">
                <div class="card-body">
                  <h5 class="card-title">Fitnes centar</h5>
                  <button type="button" class="btn-open-modal" (click)="openModalSmall(fitnes)">Rezerviši</button>
                  <button mat-fab color="warn" (click)="openModal(fitnesdetalji)">+</button>
                </div>
              </div>  
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://picscache.com/images/369/upload/600X308/1515491451_Wifi_25.jpg" alt="Wi-fi">
                <div class="card-body">
                  <h5 class="card-title">Wi-Fi </h5>
                  <button type="button" class="btn-open-modal" (click)="openModalSmall(wifi)">Uplati</button>
                  <button mat-fab color="warn" (click)="openModal(wifidetalji)">+</button>
                </div>
              </div>
        </div>
      </div>

      <ng-template #restoran>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Restoran</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-restaurant (chose)="onMeal($event, breakfast, lunch, dinner)"></app-restaurant>
          </div>
      </ng-template>
      <ng-template #spa>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Spa centar</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-rnr-service (chose)="onRnr($event)" [type]="'spa'" ></app-rnr-service>
          </div>
      </ng-template>
      <ng-template #fitnes>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Fitnes centar</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-rnr-service (chose)="onRnr($event)" [type]="'fitnes'"></app-rnr-service>
          </div>
      </ng-template>
      <ng-template #vrtic>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Dečiji centar</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-child-care (chose)="onChildCare($event)"></app-child-care>
          </div>
      </ng-template>
      <ng-template #wifi>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Wi-fi</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <app-activate-service (activate)="onActivation($event, 'Wifi')"></app-activate-service>
          </div>
      </ng-template>
      <ng-template #roomservice>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Room servis</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-room-service (chose)="onRoomService($event)"></app-room-service>
          </div>
      </ng-template><ng-template #restorandetalji>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Restoran</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="img-details" src="https://awscloudfront.kempinski.com/34359356/brunello-breakfast-buffet.jpg;width=1905;height=794;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage" alt="Restoran">
        </div>
      </ng-template>
      <ng-template #spadetalji>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Spa centar</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="img-details" src="https://awscloudfront.kempinski.com/1026/kiauh_thai-massage.jpg;width=1024;height=576;mode=crop;anchor=topcenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage" alt="Spa">
          </div>
      </ng-template>
      <ng-template #fitnesdetalji>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Fitnes centar</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="img-details" src="https://awscloudfront.kempinski.com/1380/emirates-palace-fitness-centre.jpg;width=1024;height=576;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage" alt="Fitnes">
        </div>
      </ng-template>
      <ng-template #vrticdetalji>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Dečiji centar</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="img-details" src="http://www.buildingfamilies.net/wp-content/uploads/2014/09/bigstock-Curious-Baby-Boy-Studying-Nurs-42451435.jpg" alt="Deciji centar">
          </div>
      </ng-template>
      <ng-template #wifidetalji>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Wi-fi</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="img-details" src="https://picscache.com/images/369/upload/600X308/1515491451_Wifi_25.jpg" alt="Wi-fi">
          </div>
      </ng-template>
      <ng-template #roomservicedetalji>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Room servis</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="img-details" src="https://picscache.com/images/369/upload/500X257/1515502758_generalservice17.jpg" alt="Room servis">
          </div>
      </ng-template>
      <ng-template #dinner>
      <div class="modal-header">
          <h4 class="modal-title pull-left">Večera</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-activate-service (activate)="onActivation($event, 'Vecera')"></app-activate-service>
        </div>
    </ng-template>
    <ng-template #breakfast>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Doručak</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-activate-service (activate)="onActivation($event, 'Dorucak')"></app-activate-service>
      </div>
    </ng-template>
    <ng-template #lunch>
      <div class="modal-header">
          <h4 class="modal-title pull-left">Ručak</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-activate-service (activate)="onActivation($event, 'Rucak')"></app-activate-service>
        </div>
    </ng-template>

  </div>
</div>
<div class="container" *ngIf="!log">
  Usluge našeg hotela su: Bazen, Wi-Fi, Doručak, Ručak i Večera, zatim Spa i Fitnes centar, kao i Dečiji centar.
  Pored toga pružamo i ultra brz room servis! U sklopu hotela nalazi se ogromna terasa, na kojoj se često priređuju žurke, 
  kao i kafić koji je otvoren 24 sata! Ukoliko želite da posetite Niš, Hotel Excelsior Lux je pravo mesto za Vas! Vidimo se ;)
</div>