.mat-list-item
{
    background-color: #f7e8d1;
    color:#331a00;
    font-size: 35px;
    font-family: 'Popins';
}
mat-icon
{
    margin-top: 70px;
    margin-bottom: 250px;
    font-size:200px;
    object-position: center;
    color:#f7e8d1;
}
.mat-list
{
    background-color: #f7e8d1;
    color:#331a00;
    font-size: 35px;
    font-family: 'Popins';
    margin-bottom: 2%;
    margin-top:3%;
}
.container
{
    text-align: center;
    margin-top:3%;
    font-size:25px;
    color:#f7e8d1;
    background-color: #331a00;
    border: 4px solid #f7e8d1;
    border-radius: 10%;
    width:400px;
    margin-bottom: 40px;
    margin: auto;
}
.add-review-label
{
    font-family: 'Popins';
    font-size: 35px;
    padding-top:100px;
}