mat-panel-title 
{
    background-color: #f7e8d1;
    color:#331a00;
    font-size: 30px;
    font-family: 'Popins';
}
mat-panel-description
{
    background-color: #f7e8d1;
    color:#331a00;
    font-size: 30px;
    font-family: 'Popins';
}
.description-container
{
    color:#331a00;
    font-family: 'Popins';
    font-size: 25px;
}
mat-expansion-panel
{
    margin-top:12px;
    background-color:#f7e8d1;
    color:#331a00;
}