<carousel>
  <slide>
      <img src="https://awscloudfront.kempinski.com/34367946/superior_high_resolution.jpg;width=847;height=635;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
          <h2>Standard soba </h2>
          <div class="lead">
            <h3>Standard soba vam pruža izvanredan osećaj udobnosti! </h3>
          </div>
        </div>
  </slide>
  <slide>
      <img src="https://awscloudfront.kempinski.com/34367946/superior_high_resolution.jpg;width=847;height=635;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
            <h2> Lux soba </h2>
            <div class="lead">
              <h3>Lux soba će Vam pružiti takvu komfornost, da nećete moći da izađete iz našeg hotela ;) </h3>
            </div>
          </div>  
  </slide>
  <slide>
      <img src="https://awscloudfront.kempinski.com/34367946/superior_high_resolution.jpg;width=847;height=635;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage" alt="first slide" style="display: block; width: 100%;">
       <div class="carousel-caption d-none d-md-block">
            <h2>Excelsior soba</h2>
            <div class="lead">
              <h3>Excelsrior soba predstavlja oličenje luksuza! </h3>
            </div>
    </div>
  </slide>
</carousel>
  
  