<div class="login-container">
    <form class="form-login">
      <p>
        <mat-form-field>
            <input (input)="onUsername($event)" matInput type="text"  placeholder="Korisnicko ime" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input (input)="onPassword($event)" matInput type="password" placeholder="Lozinka" />
        </mat-form-field>
      </p>
      <p>
        <button mat-fab class="login-btn" (click)="onLogin()">Uloguj se </button>
      </p>
    </form>
  </div>
  