<div class="child-care-container">
    <form class="form-child-care">     
      <alert type="danger" *ngIf="error">
            <strong> Greska! </strong> {{message}}
      </alert>
      <p>
        <label>Početak čuvanja: </label>
        <timepicker name="start" [(ngModel)]="uses.START_TIME"  [showMeridian]="isMeridian" [min]="minTime" [max]="maxTime"></timepicker>
      </p>
      <p>
        <label>Kraj čuvanja: </label>
        <timepicker name="finish" [(ngModel)]="uses.END" [showMeridian]="isMeridian" [min]="minTime" [max]="maxTime"></timepicker>
      </p>
      <p>
          <button mat-fab class="order-btn" (click)="onClick()">Rezerviši</button>
      </p>
    </form>
</div>