mat-sidenav-container
{
    width:200px;
    position: absolute;
    border-radius: 4%;
    opacity: 0.8;
    text-align: center;
    font-size: 19px;
    font-style: bold;
    margin-left:30px;
    margin-top:10px;
    height:445px;
    background-color:#f7e8d1;
}
.navigacija
{
    font-family: 'Popins';
    color:#331a00;
}
.navigacija:hover
{
    border-bottom: 2px solid #331a00;
}
.startpage-container
{
    height:600px;
    margin-left:-10px;
    margin-bottom: 30px;
    display: block;
    background-image: url('https://awscloudfront.kempinski.com/1392/ski-chalet-living-room.jpg;width=1905;height=700;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage');
}
mat-toolbar
{
    color:#331a00;
    font-weight: bold;
    font-family: 'Popins';
    background-color: #f7e8d1;
}
mat-icon
{
    font-size: 50px;
    text-align: right;
}
a
{
    text-decoration-line: none;
}
p
{
    padding-top:10px;
}
.modal-header, .modal-body
{
    font-family: 'Popins';
    background-color: #f7e8d1;
    position: center;
    color:#331a00;
}
.modal-body
{
    border-top:1px solid lightslategray;
}
h1
{
    color:#331a00;
    font-family: 'Popins';
    font-style: italic;
    font-size:50px;
    margin-left:10%;
    margin-right:42%;
}
.log
{
    margin-right:20px;
}