
<div class="startpage-container">
    <mat-toolbar> 
        <h1>
          Hotel Excelsior Lux
        </h1>
        <div *ngIf="!log">
            <button class="log" mat-icon-button (click)="openModal(login)" matTooltip="Prijavite se">
                <mat-icon aria-label="add icon">person</mat-icon>
            </button>
        </div>
        <div *ngIf="log">
            <button class="log" mat-icon-button (click)="openProfile()" matTooltip="Profil">
                <mat-icon aria-label="add icon">person</mat-icon>
            </button>
        </div>
        <button class="log" mat-icon-button (click)="logOut(message)" matTooltip="Odjavite se">
          <mat-icon aria-label="add icon">exit_to_app</mat-icon>
        </button>
    </mat-toolbar>
  <br />
  <br />
  <mat-sidenav-container *ngIf="!(showRes$ | async)">
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content >
      <nav>
        <p><a class="navigacija" (click)="profile=false" routerLink="/startpage">Početna</a></p>
        <mat-divider></mat-divider>
        <p><a class="navigacija" (click)="profile=false" routerLink="/rooms">Sobe</a></p>
        <mat-divider></mat-divider>
        <p><a class="navigacija" (click)="profile=false" routerLink="/reservations">Rezervacije</a></p>
        <mat-divider></mat-divider>
        <p><a class="navigacija" (click)="profile=false" routerLink="/services">Usluge</a></p>
        <mat-divider></mat-divider>
        <p><a class="navigacija" (click)="profile=false" routerLink="/gallery">Galerija</a></p>
        <mat-divider></mat-divider>
        <p><a class="navigacija" (click)="profile=false" routerLink="/reviews">Utisci</a></p>
        <mat-divider></mat-divider>
        <p><a class="navigacija" (click)="profile=false" routerLink="/events">Događaji</a></p>  
        <mat-divider></mat-divider>
        <p><a class="navigacija" (click)="profile=false" routerLink="/landmarks">Znamenitosti</a></p>                     
      </nav>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-sidenav-container *ngIf="showRes$ | async">
      <mat-sidenav>Start</mat-sidenav>
      <mat-sidenav-content >
        <nav>
          <p><a class="navigacija" (click)="profile=false" routerLink="/startpage">Početna</a></p>
          <mat-divider></mat-divider>
          <p><a class="navigacija" (click)="profile=false" routerLink="/rooms">Sobe</a></p>
          <mat-divider></mat-divider>
          <p><a class="navigacija" (click)="profile=false" routerLink="/services">Usluge</a></p>
          <mat-divider></mat-divider>
          <p><a class="navigacija" (click)="profile=false" routerLink="/gallery">Galerija</a></p>
          <mat-divider></mat-divider>
          <p><a class="navigacija" (click)="profile=false" routerLink="/reviews">Utisci</a></p>
          <mat-divider></mat-divider>
          <p><a class="navigacija" (click)="profile=false" routerLink="/events">Događaji</a></p>   
          <mat-divider></mat-divider>
          <p><a class="navigacija" (click)="profile=false" routerLink="/landmarks">Znamenitosti</a></p>                     
        </nav>
      </mat-sidenav-content>
    </mat-sidenav-container>
  <app-home></app-home>
  <ng-template #login>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Prijavite se</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login (login)="onLoggedIn($event, login, message)" ></app-login>
      </div>
  </ng-template>
  <ng-template #message>
      <div class="modal-header">
          <h4 class="modal-title pull-left">Obaveštenje</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="onMsgClosed()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{msg}}
        </div>
  </ng-template>
  <div *ngIf="profile">
    <app-profile></app-profile>
  </div>
</div>