.card
{
    margin-bottom: 30px;
    font-family: 'Popins';
    background-color: #f7e8d1;
    margin-top:10px;
    color:#331a00;
    border: 3px solid #f7e8d1;
}
.services-container
{
    background-color: #331a00;
}
.card-img-top
{
    height: 150px;
}
.img-details
{
    height: 300px;
    width:100%;
}
a
{
    color:#331a00;
}
button
{
    float: right;
    font-size: 35px;
}
.btn-open-modal
{
    float: left;
    border:3px solid #f7e8d1;
    border-radius: 15px 0 15px 0;
    color:#f7e8d1;
    font-size: 20px;
    background-color: #331a00;
}
.btn-open-modal:hover
{
    color:#331a00;
    background-color: #f7e8d1;
    border: 2px solid #331a00;
}
.modal-header, .modal-body
{
    font-family: 'Popins';
    background-color: #f7e8d1;
    position: center;
    color:#331a00;
}
.modal-body
{
    border-top:1px solid lightslategray;
}