<div class="child-care-container">
    <form class="form-child-care">
      <p>
          <input name="start" (focus)="onChangeStart($event)" placeholder="Pocetak cuvanja" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24"  readonly>
          <ngx-material-timepicker #fullTime></ngx-material-timepicker>
      </p>
      <p>
          <input name="end" (focus)="onChangeEnd($event)" placeholder="Kraj cuvanja" aria-label="24hr format" [ngxTimepicker]="fullTime2" [format]="24"  readonly>
          <ngx-material-timepicker #fullTime2></ngx-material-timepicker>
      </p>
      <p>
          <button mat-fab class="order-btn" (click)="onClick()">Rezerviši</button>
      </p>
    </form>
</div>