<div class="add-review-container">
  <form class="form-add-review">
    <mat-form-field>
        <textarea matInput name="textarea-review" placeholder="Utisak" [(ngModel)]="review.TEXT"></textarea>
    </mat-form-field>
    <p>Unesite ocenu o hotelu: </p>
    <span *ngFor="let i of generator()">
      <button (click)="rating(i)" mat-icon-button [color]= "i<=review.RATING ? 'warn' : 'primary'">
          <mat-icon aria-label="heart icon">favorite</mat-icon>
      </button>
    </span>
    
    <p><button (click)="onAddReview()" mat-fab class="add-review-btn">Dodaj review</button></p>
  </form>
</div>