@font-face
{
    font-family: lato;
    src: url(LatoLatin-Bold.woff2);
}
h3
{
    font-weight: bold;
}
html
{
    background-color: white;
}
.brisanje:hover
{
    background-color: black;
    color:white;
}
.azuriranje:hover
{
    background-color: black;
    color:white;
}
body
{
    font-family: lato;
}
.duzina
{
    margin-bottom: 10px;
}
nav
{
    float: left; 
    height:28px;
    margin-left:100px;
    margin-bottom: 30px;
    color: black;
    font-weight: bold;
    font-size: 25px;
}
h1
{
    text-align: center;
    color:purple;
    font-weight: bold;
}

li
{
    list-style-type: none;
}

#prva
{
  height: 400px;
}
.navigacija
{
    text-decoration: none;
    color: black;
    font-weight: normal;
    margin-right: 40px; 
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444; 
    cursor: pointer;
}
.navigacija:hover
{
    color:purple;
    font-style: italic;
}

.welcome
{
    color:white;
    padding-top:5px;
    background-image: url('http://www.gsfdcy.com/data/img/38/1553465-grey-wallpaper.jpg');
    margin-top: 10px;
}
#citat
{
    color:purple;
    margin-left:200px;
    margin-right:200px;
    text-align: center;
    height:52px;
    border: 3px solid black;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
#dodatak
{
    font-weight: bold;
    color:purple;
    padding: 2%;
}
label
{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 30px;
}
.aktivnost
{
    font-size: 30px;
    font-style:italic;
}
.brisanje
{
    margin-top: 3px;
    margin-bottom: 3px;
    border: 2px solid black;
}
.azuriranje
{
    margin-top: 3px;
    margin-bottom: 3px;
    border: 2px solid black;
}
.submit
{
    color: purple;
    font-weight: bold;
    margin-bottom: 7px;
}
