mat-form-field
{
    opacity: 1;
    width: 90%;
}
.container
{
    border-radius: 10%;
    border: 4px solid #331a00;
    width:33%;
    text-align: center;
    color:#331a00;
    background-color: #f7e8d1;
}
.add-review-btn
{
    width: 120px;
    background-color: #331a00;
    font-weight: bold;
}
.mat-form-field
{
    font-family: 'Popins';
}