<div>  
    <div *ngIf="responseReservationSuccess$ | async; let r">
            <alert type="success" *ngIf="r!='' && response">
                <strong>Bravo! </strong> Uspešno ste rezervisali željenu sobu! Ovo je broj Vaše rezervacije: {{r}}.
            </alert>
    </div> 
    <div *ngIf="type=='zahvalnica'" >
            <div class="container"> <h2>Hvala Vam što ste odabrali naš hotel!</h2> </div>
            <img class="congratulations" src="https://media.giphy.com/media/nQKzxebtx2reg/giphy.gif">
    </div>
    <div *ngIf="error">
        <alert type="danger">
                <strong>Greska! </strong> {{message}}
        </alert>        
    </div> 
    <div *ngIf="returnFail$ | async">
        <mat-progress-spinner color="warn"></mat-progress-spinner>
    </div>  
    <div *ngIf="returnClientSuccess$ | async; let r">
        <alert type="success" *ngIf="r!='' && response">
            <strong>Bravo! </strong> {{r}}
        </alert>
    </div>  
    <div *ngIf="postReservationFail$ | async; let r">
        <alert type="success" *ngIf="r!='' && response">
            <strong>Greska! </strong> {{r}}
        </alert>
    </div> 
    <div class="container" *ngIf="type=='rezultati'">
        <div class="row">
            <div class="col-sm" *ngFor="let r of rooms$ | async">
                <div class="card" style="width: 18rem;">
                    <div *ngIf="r.TYPE=='regular'">
                        <img class="card-img-top" src="https://awscloudfront.kempinski.com/1123/slider_superior-room.jpg;width=551;height=456;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage" alt="Regular">
                    </div>
                    <div *ngIf="r.TYPE=='excelsior'">
                        <img class="card-img-top" src="https://awscloudfront.kempinski.com/1119/slider_grand-deluxe-room-2.jpg;width=551;height=456;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage" alt="Excelsior">
                    </div>
                    <div *ngIf="r.TYPE=='lux'">
                            <img class="card-img-top" src="https://awscloudfront.kempinski.com/1115/deluxe-double-room.jpg;width=551;height=456;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage" alt="Lux">
                        </div>
                    <div class="card-body">
                        <h4 class="card-title">{{r.DESCRIPTION}}</h4>
                        <h5> Cena po noćenju: {{r.PRICE}} </h5>
                        <button class="btn-select" (click)="onRoomSelect(r.ID)"> Rezerviši sobu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="type=='rezervacija'">
      <form>
          <p>
        <mat-form-field>
            <input matInput type="text"  placeholder="Ime" (input)="onName($event)" />
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
          <input matInput type="text" placeholder="Prezime" (input)="onLastName($event)" />
        </mat-form-field>
        </p>
        <p>
        <mat-form-field> 
            <input matInput type="email" [formControl]="emailFormControl" placeholder="Mejl" (input)="onEmail($event)" />
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Molimo Vas unesite validan mejl
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
            Mejl je <strong> obavezan ! </strong>
            </mat-error>
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
            <input matInput type="tel" placeholder="Telefon" (input)="onPhone($event)" />
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
            <input matInput type="text" placeholder="Jmbg" (input)="onJMBG($event)" />
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
            <input matInput type="" placeholder="Broj pasosa" (input)="onPassport($event)"/>
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
            <mat-select placeholder="Drzava" (selectionChange)="onCountry($event)">
              <mat-option value="AF">Afghanistan</mat-option>
              <mat-option value="AX">Åland Islands</mat-option>
              <mat-option value="AL">Albania</mat-option>
              <mat-option value="DZ">Algeria</mat-option>
              <mat-option value="AS">American Samoa</mat-option>
              <mat-option value="AD">Andorra</mat-option>
              <mat-option value="AO">Angola</mat-option>
              <mat-option value="AI">Anguilla</mat-option>
              <mat-option value="AQ">Antarctica</mat-option>
              <mat-option value="AG">Antigua and Barbuda</mat-option>
              <mat-option value="AR">Argentina</mat-option>
              <mat-option value="AM">Armenia</mat-option>
              <mat-option value="AW">Aruba</mat-option>
              <mat-option value="AU">Australia</mat-option>
              <mat-option value="AT">Austria</mat-option>
              <mat-option value="AZ">Azerbaijan</mat-option>
              <mat-option value="BS">Bahamas</mat-option>
              <mat-option value="BH">Bahrain</mat-option>
              <mat-option value="BD">Bangladesh</mat-option>
              <mat-option value="BB">Barbados</mat-option>
              <mat-option value="BY">Belarus</mat-option>
              <mat-option value="BE">Belgium</mat-option>
              <mat-option value="BZ">Belize</mat-option>
              <mat-option value="BJ">Benin</mat-option>
              <mat-option value="BM">Bermuda</mat-option>
              <mat-option value="BT">Bhutan</mat-option>
              <mat-option value="BO">Bolivia, Plurinational State of</mat-option>
              <mat-option value="BQ">Bonaire, Sint Eustatius and Saba</mat-option>
              <mat-option value="BA">Bosnia and Herzegovina</mat-option>
              <mat-option value="BW">Botswana</mat-option>
              <mat-option value="BV">Bouvet Island</mat-option>
              <mat-option value="BR">Brazil</mat-option>
              <mat-option value="IO">British Indian Ocean Territory</mat-option>
              <mat-option value="BN">Brunei Darussalam</mat-option>
              <mat-option value="BG">Bulgaria</mat-option>
              <mat-option value="BF">Burkina Faso</mat-option>
              <mat-option value="BI">Burundi</mat-option>
              <mat-option value="KH">Cambodia</mat-option>
              <mat-option value="CM">Cameroon</mat-option>
              <mat-option value="CA">Canada</mat-option>
              <mat-option value="CV">Cape Verde</mat-option>
              <mat-option value="KY">Cayman Islands</mat-option>
              <mat-option value="CF">Central African Republic</mat-option>
              <mat-option value="TD">Chad</mat-option>
              <mat-option value="CL">Chile</mat-option>
              <mat-option value="CN">China</mat-option>
              <mat-option value="CX">Christmas Island</mat-option>
              <mat-option value="CC">Cocos (Keeling) Islands</mat-option>
              <mat-option value="CO">Colombia</mat-option>
              <mat-option value="KM">Comoros</mat-option>
              <mat-option value="CG">Congo</mat-option>
              <mat-option value="CD">Congo, the Democratic Republic of the</mat-option>
              <mat-option value="CK">Cook Islands</mat-option>
              <mat-option value="CR">Costa Rica</mat-option>
              <mat-option value="CI">Côte d'Ivoire</mat-option>
              <mat-option value="HR">Croatia</mat-option>
              <mat-option value="CU">Cuba</mat-option>
              <mat-option value="CW">Curaçao</mat-option>
              <mat-option value="CY">Cyprus</mat-option>
              <mat-option value="CZ">Czech Republic</mat-option>
              <mat-option value="DK">Denmark</mat-option>
              <mat-option value="DJ">Djibouti</mat-option>
              <mat-option value="DM">Dominica</mat-option>
              <mat-option value="DO">Dominican Republic</mat-option>
              <mat-option value="EC">Ecuador</mat-option>
              <mat-option value="EG">Egypt</mat-option>
              <mat-option value="SV">El Salvador</mat-option>
              <mat-option value="GQ">Equatorial Guinea</mat-option>
              <mat-option value="ER">Eritrea</mat-option>
              <mat-option value="EE">Estonia</mat-option>
              <mat-option value="ET">Ethiopia</mat-option>
              <mat-option value="FK">Falkland Islands (Malvinas)</mat-option>
              <mat-option value="FO">Faroe Islands</mat-option>
              <mat-option value="FJ">Fiji</mat-option>
              <mat-option value="FI">Finland</mat-option>
              <mat-option value="FR">France</mat-option>
              <mat-option value="GF">French Guiana</mat-option>
              <mat-option value="PF">French Polynesia</mat-option>
              <mat-option value="TF">French Southern Territories</mat-option>
              <mat-option value="GA">Gabon</mat-option>
              <mat-option value="GM">Gambia</mat-option>
              <mat-option value="GE">Georgia</mat-option>
              <mat-option value="DE">Germany</mat-option>
              <mat-option value="GH">Ghana</mat-option>
              <mat-option value="GI">Gibraltar</mat-option>
              <mat-option value="GR">Greece</mat-option>
              <mat-option value="GL">Greenland</mat-option>
              <mat-option value="GD">Grenada</mat-option>
              <mat-option value="GP">Guadeloupe</mat-option>
              <mat-option value="GU">Guam</mat-option>
              <mat-option value="GT">Guatemala</mat-option>
              <mat-option value="GG">Guernsey</mat-option>
              <mat-option value="GN">Guinea</mat-option>
              <mat-option value="GW">Guinea-Bissau</mat-option>
              <mat-option value="GY">Guyana</mat-option>
              <mat-option value="HT">Haiti</mat-option>
              <mat-option value="HM">Heard Island and McDonald Islands</mat-option>
              <mat-option value="VA">Holy See (Vatican City State)</mat-option>
              <mat-option value="HN">Honduras</mat-option>
              <mat-option value="HK">Hong Kong</mat-option>
              <mat-option value="HU">Hungary</mat-option>
              <mat-option value="IS">Iceland</mat-option>
              <mat-option value="IN">India</mat-option>
              <mat-option value="ID">Indonesia</mat-option>
              <mat-option value="IR">Iran, Islamic Republic of</mat-option>
              <mat-option value="IQ">Iraq</mat-option>
              <mat-option value="IE">Ireland</mat-option>
              <mat-option value="IM">Isle of Man</mat-option>
              <mat-option value="IL">Israel</mat-option>
              <mat-option value="IT">Italy</mat-option>
              <mat-option value="JM">Jamaica</mat-option>
              <mat-option value="JP">Japan</mat-option>
              <mat-option value="JE">Jersey</mat-option>
              <mat-option value="JO">Jordan</mat-option>
              <mat-option value="KZ">Kazakhstan</mat-option>
              <mat-option value="KE">Kenya</mat-option>
              <mat-option value="KI">Kiribati</mat-option>
              <mat-option value="KP">Korea, Democratic People's Republic of</mat-option>
              <mat-option value="KR">Korea, Republic of</mat-option>
              <mat-option value="KW">Kuwait</mat-option>
              <mat-option value="KG">Kyrgyzstan</mat-option>
              <mat-option value="LA">Lao People's Democratic Republic</mat-option>
              <mat-option value="LV">Latvia</mat-option>
              <mat-option value="LB">Lebanon</mat-option>
              <mat-option value="LS">Lesotho</mat-option>
              <mat-option value="LR">Liberia</mat-option>
              <mat-option value="LY">Libya</mat-option>
              <mat-option value="LI">Liechtenstein</mat-option>
              <mat-option value="LT">Lithuania</mat-option>
              <mat-option value="LU">Luxembourg</mat-option>
              <mat-option value="MO">Macao</mat-option>
              <mat-option value="MK">The former Yugoslav Republic of Macedonia</mat-option>
              <mat-option value="MG">Madagascar</mat-option>
              <mat-option value="MW">Malawi</mat-option>
              <mat-option value="MY">Malaysia</mat-option>
              <mat-option value="MV">Maldives</mat-option>
              <mat-option value="ML">Mali</mat-option>
              <mat-option value="MT">Malta</mat-option>
              <mat-option value="MH">Marshall Islands</mat-option>
              <mat-option value="MQ">Martinique</mat-option>
              <mat-option value="MR">Mauritania</mat-option>
              <mat-option value="MU">Mauritius</mat-option>
              <mat-option value="YT">Mayotte</mat-option>
              <mat-option value="MX">Mexico</mat-option>
              <mat-option value="FM">Federated States of Micronesia </mat-option>
              <mat-option value="MD">Moldova, Republic of</mat-option>
              <mat-option value="MC">Monaco</mat-option>
              <mat-option value="MN">Mongolia</mat-option>
              <mat-option value="ME">Montenegro</mat-option>
              <mat-option value="MS">Montserrat</mat-option>
              <mat-option value="MA">Morocco</mat-option>
              <mat-option value="MZ">Mozambique</mat-option>
              <mat-option value="MM">Myanmar</mat-option>
              <mat-option value="NA">Namibia</mat-option>
              <mat-option value="NR">Nauru</mat-option>
              <mat-option value="NP">Nepal</mat-option>
              <mat-option value="NL">Netherlands</mat-option>
              <mat-option value="NC">New Caledonia</mat-option>
              <mat-option value="NZ">New Zealand</mat-option>
              <mat-option value="NI">Nicaragua</mat-option>
              <mat-option value="NE">Niger</mat-option>
              <mat-option value="NG">Nigeria</mat-option>
              <mat-option value="NU">Niue</mat-option>
              <mat-option value="NF">Norfolk Island</mat-option>
              <mat-option value="MP">Northern Mariana Islands</mat-option>
              <mat-option value="NO">Norway</mat-option>
              <mat-option value="OM">Oman</mat-option>
              <mat-option value="PK">Pakistan</mat-option>
              <mat-option value="PW">Palau</mat-option>
              <mat-option value="PS">Palestinian Territory, Occupied</mat-option>
              <mat-option value="PA">Panama</mat-option>
              <mat-option value="PG">Papua New Guinea</mat-option>
              <mat-option value="PY">Paraguay</mat-option>
              <mat-option value="PE">Peru</mat-option>
              <mat-option value="PH">Philippines</mat-option>
              <mat-option value="PN">Pitcairn</mat-option>
              <mat-option value="PL">Poland</mat-option>
              <mat-option value="PT">Portugal</mat-option>
              <mat-option value="PR">Puerto Rico</mat-option>
              <mat-option value="QA">Qatar</mat-option>
              <mat-option value="RE">Réunion</mat-option>
              <mat-option value="RO">Romania</mat-option>
              <mat-option value="RU">Russian Federation</mat-option>
              <mat-option value="RW">Rwanda</mat-option>
              <mat-option value="BL">Saint Barthélemy</mat-option>
              <mat-option value="SH">Saint Helena, Ascension and Tristan da Cunha</mat-option>
              <mat-option value="KN">Saint Kitts and Nevis</mat-option>
              <mat-option value="LC">Saint Lucia</mat-option>
              <mat-option value="MF">Saint Martin (French part)</mat-option>
              <mat-option value="PM">Saint Pierre and Miquelon</mat-option>
              <mat-option value="VC">Saint Vincent and the Grenadines</mat-option>
              <mat-option value="WS">Samoa</mat-option>
              <mat-option value="SM">San Marino</mat-option>
              <mat-option value="ST">Sao Tome and Principe</mat-option>
              <mat-option value="SA">Saudi Arabia</mat-option>
              <mat-option value="SN">Senegal</mat-option>
              <mat-option value="RS">Serbia</mat-option>
              <mat-option value="SC">Seychelles</mat-option>
              <mat-option value="SL">Sierra Leone</mat-option>
              <mat-option value="SG">Singapore</mat-option>
              <mat-option value="SX">Sint Maarten (Dutch part)</mat-option>
              <mat-option value="SK">Slovakia</mat-option>
              <mat-option value="SI">Slovenia</mat-option>
              <mat-option value="SB">Solomon Islands</mat-option>
              <mat-option value="SO">Somalia</mat-option>
              <mat-option value="ZA">South Africa</mat-option>
              <mat-option value="GS">South Georgia and the South Sandwich Islands</mat-option>
              <mat-option value="SS">South Sudan</mat-option>
              <mat-option value="ES">Spain</mat-option>
              <mat-option value="LK">Sri Lanka</mat-option>
              <mat-option value="SD">Sudan</mat-option>
              <mat-option value="SR">Suriname</mat-option>
              <mat-option value="SJ">Svalbard and Jan Mayen</mat-option>
              <mat-option value="SZ">Swaziland</mat-option>
              <mat-option value="SE">Sweden</mat-option>
              <mat-option value="CH">Switzerland</mat-option>
              <mat-option value="SY">Syrian Arab Republic</mat-option>
              <mat-option value="TW">Taiwan, Province of China</mat-option>
              <mat-option value="TJ">Tajikistan</mat-option>
              <mat-option value="TZ">Tanzania, United Republic of</mat-option>
              <mat-option value="TH">Thailand</mat-option>
              <mat-option value="TL">Timor-Leste</mat-option>
              <mat-option value="TG">Togo</mat-option>
              <mat-option value="TK">Tokelau</mat-option>
              <mat-option value="TO">Tonga</mat-option>
              <mat-option value="TT">Trinidad and Tobago</mat-option>
              <mat-option value="TN">Tunisia</mat-option>
              <mat-option value="TR">Turkey</mat-option>
              <mat-option value="TM">Turkmenistan</mat-option>
              <mat-option value="TC">Turks and Caicos Islands</mat-option>
              <mat-option value="TV">Tuvalu</mat-option>
              <mat-option value="UG">Uganda</mat-option>
              <mat-option value="UA">Ukraine</mat-option>
              <mat-option value="AE">United Arab Emirates</mat-option>
              <mat-option value="GB">United Kingdom</mat-option>
              <mat-option value="US">United States</mat-option>
              <mat-option value="UM">United States Minor Outlying Islands</mat-option>
              <mat-option value="UY">Uruguay</mat-option>
              <mat-option value="UZ">Uzbekistan</mat-option>
              <mat-option value="VU">Vanuatu</mat-option>
              <mat-option value="VE">Venezuela, Bolivarian Republic of</mat-option>
              <mat-option value="VN">Viet Nam</mat-option>
              <mat-option value="VG">Virgin Islands, British</mat-option>
              <mat-option value="VI">Virgin Islands, U.S.</mat-option>
              <mat-option value="WF">Wallis and Futuna</mat-option>
              <mat-option value="EH">Western Sahara</mat-option>
              <mat-option value="YE">Yemen</mat-option>
              <mat-option value="ZM">Zambia</mat-option>
              <mat-option value="ZW">Zimbabwe</mat-option>
            </mat-select>
            </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                <input matInput type="text" placeholder="Adresa" (input)="onAdress($event)" />
                </mat-form-field>
            </p>
    
            <p>
                <mat-slide-toggle (change)="onWifi($event)">
                    Wi-fi
                </mat-slide-toggle>
            </p>
            
            <p>
            <button mat-fab class="reservations-btn" (click)="onReservation()">Rezervisi</button>
            </p>
      </form>
    </div>
    <div *ngIf="type=='pretraga'" class="container">
        <h4 class="reservations-title">Proverite koje sobe su dostupne, u periodu koji Vama odgovara! </h4>
        <form class="form-search">
            <p>
            <mat-form-field>
                <mat-select placeholder="Tip sobe" (selectionChange)="onType($event)">
                <mat-option value="regular"> Standard </mat-option>
                <mat-option value="lux"> Lux </mat-option>
                <mat-option value="excelsior"> Excelsior </mat-option>
                </mat-select>
            </mat-form-field>
            </p>
            <p>
                <mat-slide-toggle (change)="onAC($event)">
                Klima
                </mat-slide-toggle>
                </p>
                <p>
                <mat-slide-toggle (change)="onBalcony($event)">
                    Balkon
                </mat-slide-toggle>
                </p>
                <p>
                <p>
                <mat-form-field>
                    <input matInput type="text" placeholder="Broj kreveta" (input)="onNumberOfBeds($event)"/>
                </mat-form-field>
                </p>
                <p>
                <mat-form-field>
                    <input matInput (mouseout)="onStart($event)" [min]="date" [matDatepicker]="picker1" placeholder="Pocetak boravka">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                </p>
                <p>
                <mat-form-field>
                    <input matInput (mouseout)="onEnd($event)" [min]="date" [matDatepicker]="picker2" placeholder="Kraj boravka">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                </p>
                <p>
                    <button mat-fab class="reservations-btn" (click)="onRequestRooms()"> Pretraži sobe </button>
                </p>
        </form>
    </div>
</div>