.reservations-container 
{
    margin-top:30px;
    background-color: #331a00;
}
.input-width
{
    width:100%;
}
mat-form-field
{
    opacity: 1;
    width: 90%;
}
.form-reservations
{
    border-radius: 4%;
    border: 2px solid #331a00;
    width:33%;
    text-align: center;
    background-color:#f7e8d1;
    color:#331a00;
}
.reservations-btn
{
    width: 120px;
    font-weight: bold;
    color:#f7e8d1;
    background-color: #331a00;
}
.container
{
    border: 3px solid #331a00;
    border-radius: 15px 15px 15px 15px;
    background-color: #f7e8d1;
    color: #331a00;
    font:'Popins';
    text-align: center;
    max-width: 770px;
    margin-top:20px;
}
.congratulations
{
    width:100%;
}
h2
{
    color:#f7e8d1;
    font-family: 'Popins';
}
.card
{
    margin-top:20px;
    margin-left:20px;
    margin-bottom: 10px;
    font-family: 'Popins';
    background-color: #f7e8d1;
    color:#331a00;
    border: 3px solid #331a00;
}
.card-img-top
{
    height: 150px;
}
.img-details
{
    height: 300px;
    width:100%;
}
.mat-form-field
{
    font-family: 'Popins';
}
a
{
    color:#331a00;
}
.btn-select
{
    float: left;
    border:3px solid #f7e8d1;
    border-radius: 15px 0 15px 0;
    color:#f7e8d1;
    font-size: 20px;
    background-color: #331a00;
}
.reservations-title
{
    font-family: 'Popins';
}