

<div class="container">
    <h2>Hotel Excelsior Lux </h2>
    <carousel [interval]="myInterval" [(activeSlide)]="activeSlideIndex" >
        <slide *ngFor="let slide of slides; let index=index">
          <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
       
          <div class="carousel-caption">
            <h4>Hotel Ecxelsior Lux</h4>
          </div>
        </slide>
      </carousel>
</div>
  