html
{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
.brisanje:hover
{
    background-color: black;
    color:white;
}
nav
{
    width:800px;
    float: left; 
    height:28px;
    margin-left:100px;
    margin-bottom: 30px;
    color: black;
    font-weight: bold;
    font-size: 25px;
}
h1
{
    margin-left: 500px;
}

li
{
    list-style-type: none;
}

#prva
{
  height: 500px;
}
.navigacija
{
    text-decoration: none;
    color: black;
    font-weight: normal;
    margin-right: 40px; 
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444; 
    cursor: pointer;
}
.navigacija:hover
{
    color:purple;
    font-style: italic;
}
.welcome
{
    color:white;
    padding-top:5px;
    background-image: url('http://www.gsfdcy.com/data/img/38/1553465-grey-wallpaper.jpg');
    margin-top: 10px;
}