.reservations-container 
{
    margin-top:30px;
    background-color: #331a00;
}
.input-width
{
    width:100%;
}
mat-form-field
{
    opacity: 1;
    width: 90%;
}
.form-reservations
{
    border-radius: 4%;
    border: 2px solid #331a00;
    width:33%;
    text-align: center;
    background-color:#f7e8d1;
    color:#331a00;
}
.reservations-btn
{
    width: 120px;
    font-weight: bold;
    color:#f7e8d1;
    background-color: #331a00;
}