<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="profile-container">
  <div class="col-lg-6 col-sm-6">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="http://www.medias.rs/images/20/2005/lale_f1.jpg">
            
        </div>
        <div class="useravatar">
            <img alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7MT7l5VgC5-Uc5ZTG8ELOEmEdwV8ORAmTO7xYW_UE_t6Io2ME">
        </div>
        <div class="card-info"> <span class="card-title">Pamela Anderson</span>

        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group" (click)="onChange('licni')">
            <button type="button" id="stars" class="btn btn-primary"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <div class="hidden-xs">Lični podaci</div>
            </button>
        </div>
        <div class="btn-group" role="group" (click)="onChange('usluge')">
            <button type="button" id="favorites" class="btn btn-default"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <div class="hidden-xs">Usluge</div>
            </button>
        </div>
        <div class="btn-group" role="group" (click)="onChange('utisci')">
            <button type="button" id="following" class="btn btn-default" ><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Utisci</div>
            </button>
        </div>
        <div class="btn-group" role="group" (click)="onChange('znamenitosti')">
          <button type="button" id="following" class="btn btn-default"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <div class="hidden-xs"> Znamenitosti </div>
          </button>
        </div>
    </div>

        <div class="well">
      <div class="tab-content">
        <div *ngIf="tab=='licni'">
            
        </div>
        <div *ngIf="tab=='usluge'">
          <h3>This is tab 2</h3>
        </div>
        <div *ngIf="tab=='utisci'">
          <div *ngFor="let e of events$ | async">
            Dogadjaj: {{e.NAME}}
            Preostala mesta: {{e.CAPACITY}}
            Opis: {{e.OPIS}}
          </div>
        </div>
      </div>
    </div>
    
    </div>
</div>
