.card
{
    margin-bottom: 30px;
    font-family: 'Popins';
    background-color: #f7e8d1;
    margin-top:10px;
    color:#331a00;
    border: 3px solid #f7e8d1;
}
.card-img-top
{
    height: 150px;
}
.img-details
{
    height: 300px;
    width:100%;
}
a
{
    color:#331a00;
}
