.card
{
    margin-bottom: 30px;
    font-family: 'Popins';
    background-color: #f7e8d1;
    margin-top:10px;
    color:#331a00;
    border: 3px solid #f7e8d1;
}
.card-img-top
{
    height: 150px;
}
.img-details
{
    height: 300px;
    width:100%;
}
a
{
    color:#331a00;
}
.btn-visit
{
    float: left;
    border:3px solid #f7e8d1;
    border-radius: 15px 0 15px 0;
    color:#f7e8d1;
    font-size: 20px;
    background-color: #331a00;
}
.landmark-title
{
    font-family: 'Popins';
    color:#f7e8d1;
}