<div class="container">
    <div class="container" *ngIf="responseReturnLandmarks$ | async">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="responseAddVisit$ | async; let r">
        <alert *ngIf="r!='' && fail" type="danger">
            <strong>Izvinite! </strong> {{r}}
        </alert>
    </div>
    <h2 class="landmark-title"> Neke od znamenitosti grada Niša su: </h2>
    <div class="row">
        <div class="col-sm" *ngFor="let land of landmarks$ | async">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{land.LANDMARK}}" alt="Landmark">
            <div class="card-body">
                <h5 class="card-title">{{land.DESCRIPTION}}</h5>
                <h5> Broj poseta: {{land.VISITS}} </h5>
                <div *ngIf="log">
                    <button (click)="onVisit(land)" class="btn-visit"> Poseti ovo mesto</button>
                </div>
            </div>
        </div>
    </div>
</div>