<div class="container">
  <div class="row">
      <div class="col-sm" *ngFor="let land of landmarks$ | async">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{land.LANDMARK}}" alt="Landmark">
          <div class="card-body">
              <h5 class="card-title">{{land.DESCRIPTION}}</h5>
              <h5> Broj poseta: {{land.VISITS}} </h5>
          </div>
      </div>
  </div>
</div>