<div class="home-container">
  <button class="home-btn" (click)="onClickHome()"> O nama </button>
  <div class="text-container" *ngIf="Prikaz">
      <i id="x-clear" class="material-icons" (click)="onClickClear()">clear</i>
    {{Tekst}}
  </div>
</div>