<div class="events-container">
  <div *ngIf="log">
      <div *ngIf="responseEventSignupSuccess$ | async; let r">
          <div *ngIf="r!='' && success">
              <alert type="success" >
                  <strong>Bravo! </strong> {{r}}
              </alert>
          </div>
        </div>
        <div class="container" *ngIf="responseReturnEvents$ | async">
                <mat-spinner></mat-spinner>
          </div>
          <div *ngIf="responseEventSignup$ | async; let r">
              <div *ngIf="r!='' && fail">
                  <alert type="danger" >
                      <strong>Izvinite! </strong>{{r}} 
                  </alert>
              </div>
            </div>
      <mat-expansion-panel *ngFor="let e of eventList$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{e.NAME}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <p class="description-container">Opis: {{e.OPIS}}</p>
          <p class="description-container">Preostala mesta: {{e.CAPACITY}}</p>
          <p class="description-container">Datum: {{e.START}}</p>
          <p class="description-container">Cena: {{e.PRICE}} dinara</p>
          <button mat-icon-button (click)="onEventParticipate(e.id)">
            <mat-icon aria-label="add icon">add</mat-icon> <span class="signin">Prijavite se</span>
          </button>
        </mat-expansion-panel>
        <div *ngIf="responseEventSignup$ | async; let res">
            <div *ngIf="res!=''" class="alert alert-danger" role="alert">
                <strong> Došlo je do problema :( </strong> {{res}}
            </div>
        </div>
  </div>
  <div *ngIf="!log" class="container">
    Događaji koje naš hotel organizuje najčešće predstavljaju ugovorene ture za obilazak grada, 
    popuste koje je moguće ostvariti, kao i sami eventovi unutar hotela. Ukoliko želite da iskusite 
    zabavu posetite naš hotel i saznaćete sve što mi organizujemo!
  </div>  
</div>