<div class="room-service-container">
  <form class="form-activate-service">
    <p>
    <mat-form-field>
        <input  name="start_time" [(ngModel)]="uses.START_TIME" matInput [min]="date" [matDatepicker]="picker1" placeholder="Pocetak usluge">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    </p>
    <p>
    <mat-form-field>
        <input  name="end_time" [(ngModel)]="uses.END" matInput [min]="date" [matDatepicker]="picker2" placeholder="Kraj usluge">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <p>
      <button mat-fab class="reservations-btn" (click)="onClick()">Uplati</button>
    </p>
  </form>
  
</div>