<div class="events-container">
  <div *ngIf="log">
      <mat-expansion-panel *ngFor="let e of eventList$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{e.NAME}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <p class="description-container">Opis: {{e.OPIS}}</p>
          <p class="description-container">Preostala mesta: {{e.CAPACITY}}</p>
          <p class="description-container">Datum: {{e.START}}</p>
          <p class="description-container">Cena: {{e.PRICE}} dinara</p>
          <button mat-icon-button (click)="onEventParticipate(e.ID)">
            <mat-icon aria-label="add icon">add</mat-icon> Prijavi se
          </button>
        </mat-expansion-panel>
  </div>
  <div *ngIf="!log" class="container">
    Događaji koje naš hotel organizuje najčešće predstavljaju ugovorene ture za obilazak grada, 
    popuste koje je moguće ostvariti, kao i sami eventovi unutar hotela. Ukoliko želite da iskusite 
    zabavu posetite naš hotel i saznaćete sve što mi organizujemo!
  </div>  
</div>