<div class="events-container">
  <mat-expansion-panel *ngFor="let e of eventList$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{e.NAME}}
      </mat-panel-title>
      <mat-panel-description>
        Preostala mesta: {{e.CAPACITY}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="description-container">{{e.OPIS}}</p>
    <button mat-icon-button (click)="onEventParticipate(e.ID, 1)">
      <mat-icon aria-label="add icon">add</mat-icon>
    </button>
  </mat-expansion-panel>
  
</div>