<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="profil">
    <div class="profile-container">
        <div *ngIf="errorInput">
            <alert type="danger">
                <strong>Greska! </strong> {{message}}
            </alert>
        </div>
        <div *ngIf="getLoggedFail$ | async; let r">
            <alert type="danger" *ngIf="r!='' && error">
                <strong>Greska! </strong> {{r}}
            </alert>
        </div>
        <div *ngIf="updateProfileFail$ | async; let r">
                <alert type="danger" *ngIf="r!='' && update">
                    <strong>Greska! </strong> {{r}}
                </alert>
        </div>
        <div *ngIf="updateProfileSuccess$ | async; let r">
                <alert type="success" *ngIf="r!='' && update">
                    <strong>Bravo! </strong> {{r}}
                </alert>
        </div>
        <div *ngIf="deleteVisit$ | async; let r"> 
            <alert type="danger" *ngIf="r!='' && error">
                    <strong>Greska! </strong> {{r}}
            </alert>
        </div>
        <div *ngIf="loading$ | async">
            <mat-progress-spinner color="warn"></mat-progress-spinner>
        </div>
        <div class="col-lg-12">
          <div class="card hovercard">
              <div class="card-background">
                  <img class="card-bkimg" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPVcOJbTdKDienCPOzELBRfA6bcCFzZA6A6PVSgy1oFNh7iaRfwg">
              </div>
              <div class="useravatar">
                  <img alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7MT7l5VgC5-Uc5ZTG8ELOEmEdwV8ORAmTO7xYW_UE_t6Io2ME">
              </div>
              <div class="card-info" *ngIf="client$ | async; let c"> <span class="card-title"> {{c.NAME}} {{c.LAST_NAME}}</span>
      
              </div>
          </div>
          <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
              <div class="btn-group" role="group" (click)="onChange('licni')">
                  <button type="button" id="stars" class="btn btn-danger"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      <div class="hidden-xs">Lični podaci</div>
                  </button>
              </div>
              <div class="btn-group" role="group" (click)="onChange('usluge')">
                  <button type="button" id="favorites" class="btn btn-danger"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                      <div class="hidden-xs">Usluge</div>
                  </button>
              </div>
              <div class="btn-group" role="group" (click)="onChange('utisci')">
                  <button type="button" id="following" class="btn btn-danger" ><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                      <div class="hidden-xs">Utisci</div>
                  </button>
              </div>
              <div class="btn-group" role="group" (click)="onChange('znamenitosti')">
                <button type="button" id="following" class="btn btn-danger"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                    <div class="hidden-xs"> Znamenitosti </div>
                </button>
              </div>
              <div class="btn-group" role="group" (click)="onChange('dogadjaji')">
                  <button type="button" id="following" class="btn btn-danger"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
                      <div class="hidden-xs"> Događaji </div>
                  </button>
                </div>
          </div>
      
            <div class="well">
            <div class="tab-content">
              <div *ngIf="tab=='licni'">
                    <p>  <strong> Vaši podaci: </strong> </p>
                  <div class="row">
                    <div class="col-sm"> 
                        <div *ngIf="client$ | async; let c">
                                <p> Ime: {{c.NAME}} </p>
                                <p> Prezime: {{c.LAST_NAME}} </p>
                                <p> Broj pasoša: {{c.PASSPORT_NUMBER}} </p>
                                <p> JMBG: {{c.JMBG}} </p>
                                <p> Adresa: {{c.ADRESS}} </p>
                                <p> Broj telefona: {{c.PHONE_NUMBER}} </p>
                                <p> Mejl: {{c.EMAIL}} </p>
                                <p> Račun: {{c.BILL}} </p>
                            </div>
                            <mat-divider> </mat-divider>
                    </div>
                    <div class="col-sm"> 
                            <div>
                            Izmenite korisničko ime ili lozinku:
                        </div>
                        <form>
                            <p>
                                <mat-form-field>
                                    <input name="username" [(ngModel)]="username" matInput type="text"  placeholder="Korisnicko ime" />
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field>
                                    <input name="password" [(ngModel)]="password" matInput type="password" placeholder="Lozinka" />
                                </mat-form-field>
                            </p>
                            <p>
                                <button mat-fab class="update-btn" (click)="onUpdateProfile()"> Izmeni profil </button>
                            </p>
                        </form>
                    </div>
                  </div>
              </div>
              <div *ngIf="tab=='usluge'">
                  <p> <strong> Usluge koje ste uplatili za vreme boravka u našem hotelu: </strong> </p>
                <div *ngFor="let s of services$ | async">
                    Usluga: {{s.DESCRIPTION}}   ->    Cena: {{s.PRICE}} dinara
                </div>
              </div>
              <div *ngIf="tab=='utisci'">
                  <p> <strong> Utisci koje ste kreirali o našem hotelu: </strong> </p>
                <div *ngFor="let r of reviews$ | async">
                  Utisak: {{r.TEXT}}   ->   Ocena: {{r.RATING}}
                </div>
              </div>
              <div *ngIf="tab=='dogadjaji'">
                  <p> <strong> Događaji na koje ste se prijavili za vreme boravka u našem hotelu: </strong></p>
                  <div class="row"> 
                        <div class="col-4" *ngFor="let e of events$ | async">
                                <p> Dogadjaj: {{e.NAME}} </p>
                                <p> Preostala mesta: {{e.CAPACITY}} </p>
                                <p> Opis: {{e.OPIS}} </p> 
                                <p> Cena: {{e.PRICE}} dinara </p>
                        </div>
                  </div>
              </div>
              <div *ngIf="tab=='znamenitosti'">
                  <p> <strong> Znamenitosti koje planirate da posetite za vreme boravka u našem gradu. Ukoliko nemate vremena za neku od njih uklonite je iz liste. </strong> </p>
                <div *ngFor="let l of landmarks$ | async">
                  Znamenitost: {{l.DESCRIPTION}}
                  Broj poseta: {{l.VISITS}}
                  <button mat-icon-button (click)="removeVisit(l)">
                        <mat-icon aria-label="add icon">delete</mat-icon>
                    </button>
                </div>
              </div>
            </div>
          </div>
          
          </div>
      </div>      
</div>
