.card {
    margin-top: 20px;
    padding: 30px;
    background-color: #f7e8d1;
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    width:100%;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #f7e8d1;
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid  #f7e8d1;
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #331a00;
    background-color: #f7e8d1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #331a00;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    border-radius:0%;
    -webkit-border-radius:0 !important;
}
.profil
{
    font-family: 'Popins';
    font-size:19px;
    padding-top: 400px;
}
.col-lg-12
{
    background-color: #331a00;
    color:#331a00;
    font-family: 'Popins';
}
.well
{
    background-color:#f7e8d1;
}
.mat-form-field
{
    font-family: 'Popins';
}
.update-btn
{
    font-family: 'Popins';
    width:100px;
}
.col-4 {
    border: 2px solid #331a00;
}