.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mainImg
{
  width:100%;
  height:450px;
}
a
{
    text-decoration: none;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    color: orange;
    border-bottom : 3px solid orange;
}

button
{
  background-color: orange;
  margin: 1px;
  color:white;
  widows: 30px;
  font-size:20px;
  font-weight: bold;
  font-style:italic;
}
h1
{
  background-color: orange;
  color:white;
  text-align: center;
  margin-left:30%;
  margin-right: 30%;
  font-style:italic;
}
.korak
{
  text-align: center;
  border:5px solid orange;
  color:orange;
  font-weight: bold;
  font-style: italic;
  background-color: black;
  font-size:40px;
}