.container
{
    text-align: justify;
    background: rgba(0,0,0,.5);
    color: #f7e8d1;
    padding: 15px 20px;
    border-radius: 15px 0 15px 15px;
    font-size: 14.5pt;
    max-width: 650px;
    font-family: 'Popins';
}
#x-clear:hover
{
    background-color: #331a00;
    opacity: 0.3;    
}
.home-btn
{
    position: relative;
    margin: 0 auto;
    margin-bottom:30px;
    display: block;
    background: #f7e8d1;
    color: #331a00;
    font-size: 16pt;
    border-radius: 20px;
    padding: 7px 20px;
    font-family: 'Popins';
    font-weight: 700;
    text-transform: capitalize;
    box-shadow: 0 0 36px rgba(0,0,0,.4),0 4px 24px rgba(0,0,0,.33);
}
.progress-container
{
    position: relative;
    margin-top: 20px;
    margin-left: 46%;
    margin-right: 45%;
}
