<div class="startpage-container">
    <mat-toolbar>
        <span>
            <mat-icon>language</mat-icon>
        </span>   
        <button mat-icon-button (click)="openModal(login)">
          <mat-icon aria-label="add icon">person</mat-icon>
        </button>
    </mat-toolbar>
  <br />
  <br />
  <mat-sidenav-container>
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content>
      <nav>
        <p><a class="navigacija" routerLink="/startpage">Početna</a></p>
        <mat-divider></mat-divider>
        <p><a class="navigacija">Sobe</a></p>
        <mat-divider></mat-divider>
        <p><a class="navigacija" routerLink="/reservations">Rezervacije</a></p>
        <mat-divider></mat-divider>
        <p><a class="navigacija" routerLink="/services">Usluge</a></p>
        <mat-divider></mat-divider>
        <p><a class="navigacija">Galerija</a></p>
        <mat-divider></mat-divider>
        <p><a class="navigacija" routerLink="/reviews">Utisci</a></p>
        <mat-divider></mat-divider>
        <p><a class="navigacija" routerLink="/events">Događaji</a></p>  
        <mat-divider></mat-divider>
        <p><a class="navigacija" routerLink="/profile">Profil</a></p>  
        <mat-divider></mat-divider>
        <p><a class="navigacija" routerLink="/landmarks">Znamenitosti</a></p>                     
      </nav>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-home></app-home>
  <ng-template #login>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Prijavite se</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login (login)="onLoggedIn($event, login, message)" ></app-login>
      </div>
  </ng-template>
  <ng-template #message>
      <div class="modal-header">
          <h4 class="modal-title pull-left">Odgovor</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="onMsgClosed()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{msg}}
        </div>
  </ng-template>
</div>