<div class="rnr-service-container">
    <form class="form-rnr-service"  *ngIf="type==='spa'">
        <p>
            <mat-form-field>
                <mat-select name="service_name" [(ngModel)]="order.SERVICE_NAME" placeholder="Usluga">
                    <mat-option value="Masaza kokosovim mlekom"> Masaža kokosovim uljem </mat-option>
                    <mat-option value="Relax masaza"> Relax masaža </mat-option>
                    <mat-option value="Sportska masaza"> Sportska masaža </mat-option>
                    <mat-option value="Masaza cokoladom"> Masaža čokoladom </mat-option>
                    <mat-option value="Masaza vulkanskim kamenjem"> Masaža vulkanskim kamenjem </mat-option>
                    <mat-option value="Spa piling masaza"> Spa piling masaža </mat-option>
                    <mat-option value="Parcijalna masaza"> Parcijalna masaža </mat-option>
                    <mat-option value="Masaza bademovim uljem"> Masaža bademovim uljem </mat-option>
                    <mat-option value="Aroma terapija"> Aroma terapija </mat-option>
                    <mat-option value="Citrus masaza"> Citrus masaža </mat-option>
                    <mat-option value="Masaza bambusom"> Masaža bambusom </mat-option>
                    <mat-option value="Masaza za parove"> Masaža za parove </mat-option>
                    <mat-option value="Sauna"> Sauna </mat-option>
                    <mat-option value="Kraljevksa masaza"> Kraljevska masaža </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input name="start_time" [(ngModel)]="start" matInput [min]="date" [matDatepicker]="picker1" placeholder="Dan masaze">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </p>
        <p>
            <input name="timeInput" (focus)="onChange($event)" placeholder="Pocetak masaze" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24"  readonly>
            <ngx-material-timepicker #fullTime></ngx-material-timepicker>
        </p>
        <p>
        <mat-form-field> 
            <input name="duration" [(ngModel)]="order.DURATION" matInput type="text" placeholder="Trajanje" />
        </mat-form-field>
        </p>
        <p>
            <button mat-fab class="order-btn" (click)="onOrder()">Rezerviši</button>
        </p>
    </form>
    <form class="form-rnr-service-fitnes"  *ngIf="type==='fitnes'">
        <p>
            <mat-form-field>
                <mat-select name="service_name" [(ngModel)]="order.SERVICE_NAME" placeholder="Usluga">
                    <mat-option value="Funkcionalni trening"> Funkcionalni trening </mat-option>
                    <mat-option value="Personalni trening"> Personalni trening </mat-option>
                    <mat-option value="Kinezis trenining"> Kinezis trenining </mat-option>
                    <mat-option value="Aerobik"> Aerobik </mat-option>
                    <mat-option value="Aqua aerobik"> Aqua aerobik </mat-option>
                    <mat-option value="Senior trening"> Senior trening </mat-option>
                    <mat-option value="Grupni trening"> Grupni trening </mat-option>
                    <mat-option value="Kardio trening"> Kardio trening </mat-option>
                    <mat-option value="Fitnes trening"> Fitnes trening </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input name="start_time" [(ngModel)]="start" matInput [min]="date" [matDatepicker]="picker1" placeholder="Dan treninga">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            </p>
            <p>
                <input name="timeInput" (focus)="onChange($event)" placeholder="Pocetak treninga" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24"  readonly>
                <ngx-material-timepicker #fullTime></ngx-material-timepicker>
            </p>
            <p>
            <mat-form-field> 
                <input name="duration" [(ngModel)]="order.DURATION" matInput type="text" placeholder="Trajanje" />
            </mat-form-field>
            </p>
            <p>
                <button mat-fab class="order-btn" (click)="onOrder()">Rezerviši</button>
            </p>
        </form>
  </div>