@font-face
{
    font-family: lato;
    src: url('../../LatoLatin-Bold.woff2');
}
body {
    margin: 0;
    padding: 0;
    font-family: lato;
}
h3
{
    font-weight: bold;
    color: purple;
}
.vezbe
{
    text-align: center;
    font-size:25px;
    border: 5px solid black;
    background-color: purple;
    color: white;
    margin-top:-3px;
    margin-bottom: -3px;
}
.brisanje:hover
{
    background-color: purple;
    color:white;
}
.azuriranje:hover
{
    background-color: purple;
    color:white;
}
.duzina
{
    margin-bottom: 10px;
}
nav
{
    height:28px;
    margin: 30px auto 10px;
    text-align: center;
    width: 90%;
    color: black;
    font-weight: bold;
    font-size: 25px;
}
h1
{
    text-align: center;
    color:purple;
    font-weight: bold;
    margin: 40px 0;
    padding-bottom: 20px;
    font-style: italic;
    border-bottom: 4px solid purple;
}
#video
{
    margin-top:40px;
}
.grupa
{
    font-size: 25px;
    margin-top: 3px;
    color: purple;
    font-style: italic;
}
li
{
    list-style-type: none;
}

#prva
{
  height: 400px;
}
.navigacija
{
    text-decoration: none;
    color: black;
    font-weight: normal;
    margin-right: 40px; 
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
.navigacija:hover
{
    color:purple;
    font-style: italic;
}

.welcome
{
    color:white;
    background-color: grey;padding-top: 10px;
    margin: 40px auto;
    text-align: center;
    width: 90%;
    height: 90%;
    border: 0.7px solid purple;
    border-radius: 20px 20px;;
}
#citat
{
    color:purple;
    margin: 10px auto;
    width: 80%;
    text-align: center;
    border: 4px solid purple;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.aktivnost
{
    font-size: 30px;
    font-style:italic;
}
.brisanje
{
    margin: 12px auto;
    width:90%;
    color: purple;
    border: 2px solid purple;
}
.azuriranje
{
    margin: 12px auto;
    width:90%;
    color: purple;
    border: 2px solid purple;
}
.submit
{
    color: purple;
    font-weight: bold;
    margin-bottom: 7px;
}

.main-btn, .back {
    background-color: purple;
    color:white;
    border: 2px solid purple;
    text-align: center;
    border-radius: 20px 20px;
    height: 60px;
    font-size: 28px;
    width: 150px;
    margin: 10px 0;
}
#root {
    padding-top: 10px;
    margin: 40px auto;
    text-align: center;
    width: 70%;
    border: 0.7px solid purple;
    border-radius: 20px 20px;
    position: relative;
}
.opis {
    width: 50%;
    color: purple;
    margin-bottom: 10px;
}
.main-input {
    width: 50%;
    color: purple;
    height: 40px;
    margin-bottom: 10px;
}
.main-select {
    width: 50%;
    color: purple;
    height: 40px;
}
.main-p {
    color: purple;
    font-weight: bold;
}
.main-label {
    font-size: 25px;
    color: purple;
    font-style: italic;
    margin-right: 15px;
}
.action-input {
    padding-top: 3px;
    position: absolute;
    left: 32%;
    width: 25px;
    height: 25px;
}
.checkbox {
    position: absolute;
    right: 20%;
    width: 25px;
    height: 25px;
}
.text {
    width:90%;
    color:purple;
    margin: 10px auto;
}
.message {
    font-size: 24px;
    color:purple;
    font-style: italic;
    animation-name: fadeIn;
    animation-duration: 1s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }