mat-form-field
{
    opacity: 1;
    width: 90%;
}

.login-btn
{
    width: 120px;
    background-color: #331a00;
    font-weight: bold;
}
.mat-icon, span, button
{
    margin-right: 10px;
}
.mat-form-field
{
    font-family: 'Popins';
}