<div>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://picscache.com/images/369/upload/600X308/1515581995_resto2.jpg" alt="Dorucak">
              <div class="card-body">
                <h5 class="card-title">Doručak</h5>
                <button mat-fab color="warn" (click)="onMealChosen('dorucak')" > + </button>
              </div>
            </div>
          </div>
          <div class="col-sm">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://picscache.com/images/369/upload/600X308/1515582087_food2.jpg" alt="Rucak">
                  <div class="card-body">
                    <h5 class="card-title">Ručak</h5>
                    <button (click)="onMealChosen('rucak')" mat-fab color="warn" >+</button>
                  </div>
                </div>
          </div>
          <div class="col-sm">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://picscache.com/images/369/upload/600X308/1515582112_food.jpg" alt="Vecera">
                  <div class="card-body">
                    <h5 class="card-title">Večera</h5>
                    <button mat-fab color="warn" (click)="onMealChosen('vecera')">+</button>
                  </div>
                </div>
          </div>
          <div class="col-sm">
              <div class="card" style="width: 18rem;">
                  <div class="card-body" id="tekst">
                    U našem hotelu se nalazi izvanredan restoran, u kom je moguće uplatiti bilo koji obrok, za bilo koji dan. Doručak i večera su po principu švedskog stola, dok je za ručak moguće odabrati bilo koje od čak pet jela! Odaberite obrok koji želite da uplatite!
                  </div>
                </div>
          </div>
          </div>
</div>