.card
{
    margin-bottom: 30px;
    font-family: 'Popins';
    background-color: #331a00;
    width:100px;
    margin-top:10px;
    color:#f7e8d1;
    border: 3px solid #331a00;
}
.card-img-top
{
    height: 150px;
}

button
{
    float: right;
    font-size: 35px;
}
#tekst
{
    text-align: center;
}
.mat-form-field
{
    font-family: 'Popins';
}