.badge {
    color: white;
    background-color: red;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    padding-top:15px;
    margin-right: 44px;
    margin-bottom: 3px;
    width: 50px;
    height: 50px;
}