.cocktail-container {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 10px auto;
    flex-direction: row;
    height: 400px;
}
.single-cocktail-container {
    width: 25%;
    border: 3px solid #333;
    border-radius: 15px 15px;
}
.cocktail-title {
    color: white;
    font-size: 25px;
    height: 40px;
    background-color: #333;
    text-align: center;
    border: 1px solid #333;
    border-radius: 12px 12px 0 0;
}
.image-container {
    height: 330px;
}
.img-circle {
    height: 100%;
    width: 100%;
}
.cocktail-image {
    opacity: 1;
}