.jumbotron
{
    margin-left:3%;
    margin-right:3%;
    padding-left:1%;
    padding-right:1%;
}
.sastojak
{
    padding-bottom:1%;
}
.ingredient-name, .ingredient-quantity
{
    padding-right: 2%;
    padding-left: 1%;
}
.reviews-title {
    text-align: center;
    font-style: italic;
    margin-top:60px;
    margin-bottom: 20px;
}
.show-recipe-btn {
    display: inline-block;
    margin-top: 20px;
    border-radius: 6px;
    padding: 12px 20px;
    vertical-align: middle;
    color: #fff !important;
    text-align: center;
    border: none;
    outline: none;
    text-decoration: none;
    background: red;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    will-change: transform, box-shadow;
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.1),0 -100px 0 transparent inset;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1),0 -100px 0 transparent inset;
    margin-right: 40px;
}