.well
{
    margin-right: 3%;
    margin-left: 3%;
}
#stop
{
    color:yellow !important;
}
#right
{
    color:green !important;
}
#left
{
    color:red !important;
}
a
{
    color:black;
}
a:hover
{
    color:black;
    text-decoration: none;
}
.step-title {
    text-align: center;
    margin-bottom: 20px;
}
.buttons-group {
    margin: 10px auto;
    width: 20%;
    text-align: center;
}
.recipe-title {
    font-size: 45px;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}