.page-header
{
    text-align: center;
}
.grade
{
    color:white;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: transparent;
    opacity: 0.5;
}
.grade:hover, .grade:focus
{
    opacity: 1;
    text-decoration: none;
    color:white;
}

h1 {
    letter-spacing: 3px;
}