@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

input
{
    color:red !important;
}
div::after
{
    border-bottom: black !important;
}
label
{
    color: red !important;
    margin-top: -10px !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus
{
    background-color: red;
}
#cocktail-image
{
    opacity: 1;
}
h2
{
    color:black;
}

.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
  }
  
  .search input {
    width: 350px;
    height: 42px;
    margin: 20px auto;
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  }
  
  .search input { text-indent: 45px;}
  .search .fa-search { 
    position: absolute;
    font-size: 32px;
    top: 25px;
    left: 10px;
  }