.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mainImg
{
  width: 33.33%;
  opacity: 0.4;
  height:450px;
}
.mainImg:hover
{
  opacity: 1;
}
a
{
    text-decoration: none;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    color: orangered;
    border-bottom : 3px solid orangered;
}
@font-face {
  font-family: 'Whitney';
  src: url('Whitney-SemiboldItalic.otf');
}
html
{
  background-color: black;
  color:orangered;
  font-family: 'Whitney';
}
button
{
  background-color: orangered;
  font-family: 'Whitney';
  margin: 1px;
  color:black;
  widows: 30px;
  font-size:25px;
  font-weight: bold;
}
h1
{
  background-color: orangered;
  color:white;
  font-family: 'Whitney';
  font-weight: bold;
  font-size:42px;
  text-align: center;
  margin-left:30%;
  margin-right: 30%;
}
.korak
{
  text-align: center;
  border:5px solid orangered;
  color:orangered;
  font-weight: bold;
  font-family: 'Whitney';
  background-color: black;
  font-size:40px;
}
.start
{
  text-align: center;
  margin-top:200px;
  
}
#login
{
  margin-left:42%;
  margin-right:42%;
  margin-top:10%;
}
.sadrzajClanka
{
  width:90%;
  height: 250px;
  margin-top:0px;
}
.naslovClanka
{
  width:90%;
  height: 40px;
}
.CocktailInfo
{
  width:50%;
  float:left;
}
.cocktailRecipe
{
  margin-left:10px;
  width:100%;
}

.cocktailImg
{
  height: 450px;
  margin-top:15px;
  margin-right:15px;
  float:right;
  clear:none;
  
}
.add-cocktail-container 
{
  float:left;
  margin-top: 1%;
  margin-left:25%;
  margin-right:25%;
  width:50%;
}
article
{
  float:left;
  clear:both;
  margin-top:10px;
  width:100%;
}

.utisciDiv
{
  clear:both;
  width:50%;
}